In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from pprint import pprint

import requests
import time
# Import API key
from api_keys import api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

In [2]:
# Import wine database
# Data source: https://www.kaggle.com/zynicide/wine-reviews#winemag-data_first150k.csv
wine_data = pd.read_csv("./Resources/winemag-data-130k-v2.csv")

In [3]:
# Raw data for wine database
wine_data.head()
wine_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129971 entries, 0 to 129970
Data columns (total 14 columns):
Unnamed: 0               129971 non-null int64
country                  129908 non-null object
description              129971 non-null object
designation              92506 non-null object
points                   129971 non-null int64
price                    120975 non-null float64
province                 129908 non-null object
region_1                 108724 non-null object
region_2                 50511 non-null object
taster_name              103727 non-null object
taster_twitter_handle    98758 non-null object
title                    129971 non-null object
variety                  129970 non-null object
winery                   129971 non-null object
dtypes: float64(1), int64(2), object(11)
memory usage: 13.9+ MB

In [4]:
# Clean data, select US wine data
US_wine_data=wine_data[["country", "province", "winery", "points","price", "variety", "title"]].set_index("country").loc["US"]
US_wine_data=US_wine_data.rename(columns={"province":"State_full"})

US_wine_data["State_full"]=US_wine_data["State_full"].replace({"America":np.NaN})
US_wine_data=US_wine_data.sort_values("State_full")
US_wine_data=US_wine_data.dropna(subset=["State_full"])

# US_wine_data["year"]= US_wine_data["title"].str.extract('(\d{4})')
# US_wine_data=US_wine_data.dropna(subset=["year"])
# US_wine_data=US_wine_data.sort_values("year")
US_wine_data

,State_full,winery,points,price,variety,title
country,,,,,,
US,Arizona,Fiddlebender,84,13.0,White Blend,Fiddlebender NV Out of Sight White (Arizona)
US,Arizona,Page Springs,84,30.0,Viognier,Page Springs 2007 La Serrana Viognier (Cochise...
US,Arizona,Page Springs,85,21.0,Malvasia Bianca,Page Springs 2011 Vino de la Familia Blanca Ma...
US,Arizona,Pillsbury,84,38.0,Symphony,Pillsbury 2011 Symphony (Cochise County)
US,Arizona,Page Cellars,85,47.0,Red Blend,Page Cellars 2010 Landscape Page Springs Estat...
US,Arizona,Page Springs,87,16.0,Red Blend,Page Springs 2011 Vino del Barrio Red (Cochise...
US,Arizona,Fiddlebender,85,16.0,Red Blend,Fiddlebender NV In Tune Red (Arizona)
US,Arizona,Sultry Cellars,86,54.0,Red Blend,Sultry Cellars 2010 Inked Red (Arizona)
US,Arizona,Dos Cabezas,82,20.0,Red Blend,Dos Cabezas 2005 El Norte Red (Cochise County)
US,Arizona,Page Springs,85,38.0,Mourvèdre,Page Springs 2010 Colibri Vineyard Mourvèdre (...
US,Arizona,Page Springs,84,35.0,Chardonnay,Page Springs 2010 Arizona Stronghold Vineyard ...
US,Arizona,Page Springs,86,38.0,Syrah,Page Springs 2010 Clone 474 Colibri Vineyard S...
US,Arizona,Page Springs,85,30.0,Red Blend,Page Springs 2010 El Serrano Red (Arizona)
US,Arizona,Pillsbury,87,54.0,Petite Sirah,Pillsbury 2009 Stronghold Vineyard Petite Sira...
US,Arizona,Carlson Creek,84,28.0,Rhône-style Red Blend,Carlson Creek 2012 Rule of Three Red (Cochise ...
US,Arizona,Carlson Creek,82,19.0,Riesling,Carlson Creek 2012 Sweet Adeline Riesling (Ari...
US,Arizona,Odyssey,84,28.0,Red Blend,Odyssey NV Forbidden Fruit Red (Arizona)
US,Arizona,Carlson Creek,84,23.0,Sangiovese,Carlson Creek 2012 Sangiovese (Cochise County)
US,Arizona,Flying Leap,85,34.0,Tempranillo,Flying Leap 2013 Tempranillo (Sonoita)
US,Arizona,Pillsbury,85,32.0,Chardonnay,Pillsbury 2011 Chardonnay (Cochise County)
US,Arizona,Carlson Creek,85,23.0,Chardonnay,Carlson Creek 2010 Chardonnay (Arizona)
US,Arizona,Arizona Angel,83,11.0,White Blend,Arizona Angel NV Artige White (Arizona)
US,Arizona,Pillsbury,87,38.0,Rhône-style Red Blend,Pillsbury 2011 Diva Red (Cochise County)
US,Arizona,Dos Cabezas,84,20.0,Viognier,Dos Cabezas 2006 Viognier (Cochise County)
US,Arizona,Pillsbury,86,18.0,Pinot Gris,Pillsbury 2011 Pinot Gris (Cochise County)
US,Arizona,Pillsbury,87,20.0,Red Blend,Pillsbury 2011 Wild Child Red Red (Cochise Cou...
US,Arizona,Flying Leap,83,34.0,Mourvèdre,Flying Leap 2013 Mourvèdre (Cochise County)
US,Arizona,Page Springs,84,35.0,Syrah,Page Springs 2010 Clone 174 Colibri Vineyard S...
US,Arizona,Fiddlebender,84,13.0,White Blend,Fiddlebender NV Evolution White (Arizona)
US,Arizona,Page Springs,86,45.0,Petite Sirah,Page Springs 2010 Estate Vineyard Yavapai Coun...
...,...,...,...,...,...,...
US,Washington,Analemma,89,27.0,Gewürztraminer,Analemma 2013 Atavus Vineyard Gewürztraminer (...
US,Washington,14 Hands,87,10.0,Pinot Gris,14 Hands 2016 Pinot Gris (Washington)
US,Washington,Alder Ridge,87,30.0,Cabernet Sauvignon,Alder Ridge 2013 Cabernet Sauvignon (Horse Hea...
US,Washington,Drumheller,87,12.0,Chardonnay,Drumheller 2015 Chardonnay (Columbia Valley (WA))
US,Washington,Gård,89,28.0,Rosé,Gård 2011 Lawrence Vineyards Grand Klasse Rosé...
US,Washington,Syncline,93,25.0,Grenache,Syncline 2011 Grenache (Columbia Valley (WA))
US,Washington,Thurston Wolfe,89,20.0,Red Blend,Thurston Wolfe 2012 The Spaniard Premium Red (...
US,Washington,Idilico,92,30.0,Graciano,Idilico 2012 Reserva Upland Vineyard Graciano ...
US,Washington,Locati Cellars,86,25.0,Sangiovese,Locati Cellars 2008 Sangiovese (Columbia Valle...
US,Washington,Lauren Ashton Cellars,88,25.0,Roussanne,Lauren Ashton Cellars 2016 Roussanne (Columbia...
US,Washington,Woodward Canyon,89,29.0,Barbera,Woodward Canyon 2013 Estate Barbera (Walla Wal...
US,Washington,Dumas Station,89,32.0,Merlot,Dumas Station 2013 Merlot (Walla Walla Valley ...
US,Washington,Hogue,87,16.0,Merlot,Hogue 2008 Genesis Merlot (Columbia Valley (WA))
US,Washington,Apex,85,15.0,Chardonnay,Apex 2011 Chardonnay (Columbia Valley (WA))
US,Washington,Original House Wine,85,10.0,Chardonnay,Original House Wine 2011 House Wine Chardonnay...
US,Washington,Corvus,89,35.0,Petit Verdot,Corvus 2011 Petit Verdot (Red Mountain)
US,Washington,Radius,85,9.0,Chardonnay,Radius 2011 Chardonnay (Washington)
US,Washington,Magnificent Wine Company,85,10.0,Cabernet Sauvignon,Magnificent Wine Company 2010 Steak House Cabe...
US,Washington,Kirkland Signature,85,9.0,Merlot,Kirkland Signature 2011 Merlot (Columbia Valle...
US,Washington,Fidelitas,88,50.0,Bordeaux-style Red Blend,Fidelitas 2014 Optu Red (Red Mountain)
US,Washington,14 Hands,88,12.0,Cabernet Sauvignon,14 Hands 2015 Cabernet Sauvignon (Columbia Val...
US,Washington,McKinley Springs,85,16.0,Red Blend,McKinley Springs 2009 Horsepower Proprietary R...
US,Washington,Betz Family,96,85.0,Red Blend,Betz Family 2005 Le Parrain Red Wine Red (Colu...
US,Washington-Oregon,J. Scott Cellars,89,18.0,Roussanne,J. Scott Cellars 2011 Roussanne (Washington-Or...
US,Washington-Oregon,Ken Wright,90,30.0,Chardonnay,Ken Wright 2009 73% Washington/27% Oregon Char...
US,Washington-Oregon,ENSO,88,14.0,Pinot Gris,ENSO NV Resonate White #5 Pinot Gris (Washingt...
US,Washington-Oregon,J. Scott Cellars,88,18.0,Roussanne,J. Scott Cellars 2009 Roussanne (Washington-Or...
US,Washington-Oregon,Corvidae,88,9.0,Chardonnay,Corvidae 2008 Mirth Chardonnay (Washington-Ore...
US,Washington-Oregon,J. Scott Cellars,88,17.0,Sauvignon Blanc,J. Scott Cellars 2012 56% Washington/44% Orego...
US,Washington-Oregon,J. Scott Cellars,88,19.0,Roussanne,J. Scott Cellars 2012 56% Oregon/44% Washingto...

In [5]:
# US_wine_data_winery=US_wine_data.set_index("winery")
US_wine_data_winery=US_wine_data.groupby(["winery","State_full"])["price","points"].mean()
US_wine_data_winery=US_wine_data_winery.rename(columns={"price":"Average_price",
                                                       "points":"Average_points"})

US_wine_data_winery=US_wine_data_winery.reset_index()
US_wine_data_winery["Average_price"]=US_wine_data_winery["Average_price"].map("${:2f}".format)
# US_wine_data_winery["mean_points"]=US_wine_data_winery.groupby(["winery"])["points"].mean()
US_wine_data_winery.head(20)
# US_wine_data_winery.describe()

              winery  State_full Average_price  Average_points
0           10 Knots  California    $24.750000       83.250000
1   100 Percent Wine  California    $18.000000       86.333333
2       1000 Stories  California    $19.000000       90.500000
3         1070 Green  California    $25.000000       88.000000
4             10Span  California    $12.000000       83.500000
5          12C Wines  California    $92.600000       92.600000
6           14 Hands  Washington    $17.412698       87.507463
7              16X20  California    $40.000000       85.500000
8         1789 Wines      Oregon    $48.000000       91.000000
9                181  California    $15.000000       84.000000
10     18401 Cellars      Oregon    $75.000000       92.000000
11     18401 Cellars  Washington    $75.000000       91.500000
12              1850  California    $24.000000       89.333333
13            2 Lads    Michigan    $38.800000       86.000000
14          21 Grams  Washington   $125.000000       92.500000
15          24 Knots  California    $17.000000       82.000000
16          240 Days    New York    $28.000000       86.333333
17    29 & Oak Wines  California    $57.000000       88.800000
18             2Hawk      Oregon    $33.714286       87.714286
19            2Plank  California    $37.166667       88.333333

In [6]:
# maybe bin the data? Max 98, Min 80
# 80, 85, 90, 95, 100
US_wine_data_winery["Average_points"].min()

80.0

In [7]:
# US_wine_data.info()
US_wine_data_winery.describe()

       Average_points
count     5495.000000
mean        87.829100
std          2.767866
min         80.000000
25%         86.000000
50%         87.857143
75%         90.000000
max         98.000000

In [8]:
# Database showing Latitude and Longitidue for each State
# Data source: https://www.kaggle.com/washimahmed/usa-latlong-for-state-abbreviations#statelatlong.csv
state_data = pd.read_csv("./Resources/statelatlong.csv")
state_data.head()

  State   Latitude   Longitude        City
0    AL  32.601011  -86.680736     Alabama
1    AK  61.302501 -158.775020      Alaska
2    AZ  34.168219 -111.930907     Arizona
3    AR  34.751928  -92.131378    Arkansas
4    CA  37.271875 -119.270415  California

In [9]:
state_data=state_data.rename(columns={"State":"State_abbr","City":"State_full",
                                     "Latitude":"State_lat", "Longitude":"State_lng"})
state_data

   State_abbr  State_lat   State_lng            State_full
0          AL  32.601011  -86.680736               Alabama
1          AK  61.302501 -158.775020                Alaska
2          AZ  34.168219 -111.930907               Arizona
3          AR  34.751928  -92.131378              Arkansas
4          CA  37.271875 -119.270415            California
5          CO  38.997934 -105.550567              Colorado
6          CT  41.518784  -72.757507           Connecticut
7          DE  39.145251  -75.418921              Delaware
8          DC  38.899349  -77.014567  District of Columbia
9          FL  27.975728  -83.833017               Florida
10         GA  32.678125  -83.222976               Georgia
11         HI  20.460000 -157.505000                Hawaii
12         ID  45.494576 -114.142430                 Idaho
13         IL  39.739318  -89.504139              Illinois
14         IN  39.766219  -86.441277               Indiana
15         IA  41.938317  -93.389798                  Iowa
16         KS  38.498779  -98.320078                Kansas
17         KY  37.822294  -85.768240              Kentucky
18         LA  30.973377  -91.429910             Louisiana
19         ME  45.218513  -69.014866                 Maine
20         MD  38.806352  -77.268416              Maryland
21         MA  42.062940  -71.718067         Massachusetts
22         MI  44.943560  -86.415805              Michigan
23         MN  46.441859  -93.365515             Minnesota
24         MS  32.585106  -89.877220           Mississippi
25         MO  38.304662  -92.437099              Missouri
26         MT  46.679800 -110.044783               Montana
27         NE  41.500819  -99.680902              Nebraska
28         NV  38.502032 -117.023060                Nevada
29         NH  44.001231  -71.579923         New Hampshire
30         NJ  40.143006  -74.731116            New Jersey
31         NM  34.166232 -106.026069            New Mexico
32         NY  40.705626  -73.979680              New York
33         NC  35.214563  -79.891267        North Carolina
34         ND  47.467882 -100.302266          North Dakota
35         OH  40.190362  -82.669252                  Ohio
36         OK  35.309765  -98.716558              Oklahoma
37         OR  44.141905 -120.538099                Oregon
38         PA  40.994593  -77.604698          Pennsylvania
39         RI  41.582728  -71.506451          Rhode Island
40         SC  33.625050  -80.947038        South Carolina
41         SD  44.212699 -100.247164          South Dakota
42         TN  35.830521  -85.978599             Tennessee
43         TX  31.169336 -100.076842                 Texas
44         UT  39.499761 -111.547028                  Utah
45         VT  43.871755  -72.447783               Vermont
46         VA  38.003386  -79.458786              Virginia
47         WA  38.899349  -77.014567            Washington
48         WV  38.920171  -80.181691         West Virginia
49         WI  44.786297  -89.826705             Wisconsin
50         WY  43.000325 -107.554567               Wyoming

In [10]:
# JSON Database acquiring (current) weather data for each state
# Data source: https://openweathermap.org
lat_lngs = []
cities = []
lat_lngs = zip(state_data["State_lat"], state_data["State_lng"])
# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

In [11]:
units = "imperial"
url = "http://api.openweathermap.org/data/2.5/weather?"+ "appid=" + api_key + "&units=" + units
cityinfo=[]

record_count=0
set_count=1
print("Beginning Data Retrieval")
print("-----------------------------")

for city in cities:
    try:
        query_url = url + "&q=" + city 
        weather_response = requests.get(query_url)
        weather_json = weather_response.json()
#         citynames.append(weather_json['name'])        
        record_count=record_count+1
        if record_count==51:
            set_count=set_count+1
            record_count=0
            time.sleep(1.001)
        print(f'Processing Record {record_count} of Set {set_count} | {weather_json["name"]}')
        cityinfo.append(weather_json)   
    except (KeyError, IndexError):
        record_count=record_count-1
        print("City not found. Skipping...")
print("-----------------------------")
print("Data Retrieval Complete")
print("-----------------------------")

Beginning Data Retrieval
-----------------------------
Processing Record 1 of Set 1 | Prattville
Processing Record 2 of Set 1 | Bethel
Processing Record 3 of Set 1 | Camp Verde
Processing Record 4 of Set 1 | Sherwood
Processing Record 5 of Set 1 | Clovis
Processing Record 6 of Set 1 | Canon City
Processing Record 7 of Set 1 | Meriden
Processing Record 8 of Set 1 | Dover
Processing Record 9 of Set 1 | Washington DC.
Processing Record 10 of Set 1 | Clearwater
Processing Record 11 of Set 1 | Dublin
Processing Record 12 of Set 1 | Honolulu
Processing Record 13 of Set 1 | Hamilton
Processing Record 14 of Set 1 | Springfield
Processing Record 15 of Set 1 | Plainfield
Processing Record 16 of Set 1 | Ames
Processing Record 17 of Set 1 | Great Bend
Processing Record 18 of Set 1 | Elizabethtown
Processing Record 19 of Set 1 | Zachary
Processing Record 20 of Set 1 | Hermon
Processing Record 21 of Set 1 | Burke
Processing Record 22 of Set 1 | Uxbridge
Processing Record 23 of Set 1 | Traverse City
Processing Record 24 of Set 1 | Brainerd
Processing Record 25 of Set 1 | Canton
Processing Record 26 of Set 1 | Jefferson City
Processing Record 27 of Set 1 | Lewistown
Processing Record 28 of Set 1 | Lexington
Processing Record 29 of Set 1 | Fallon
Processing Record 30 of Set 1 | Plymouth
Processing Record 31 of Set 1 | Trenton
Processing Record 32 of Set 1 | Socorro
Processing Record 33 of Set 1 | New York
Processing Record 34 of Set 1 | Rockingham
Processing Record 35 of Set 1 | Bismarck
Processing Record 36 of Set 1 | Pataskala
Processing Record 37 of Set 1 | Weatherford
Processing Record 38 of Set 1 | Redmond
Processing Record 39 of Set 1 | Lock Haven
Processing Record 40 of Set 1 | Exeter
Processing Record 41 of Set 1 | Orangeburg
Processing Record 42 of Set 1 | Pierre
Processing Record 43 of Set 1 | Manchester
Processing Record 44 of Set 1 | San Angelo
Processing Record 45 of Set 1 | Payson
Processing Record 46 of Set 1 | Randolph
Processing Record 47 of Set 1 | Staunton
Processing Record 48 of Set 1 | Clarksburg
Processing Record 49 of Set 1 | Wausau
Processing Record 50 of Set 1 | Riverton
-----------------------------
Data Retrieval Complete
-----------------------------

In [12]:
statedata_pd=pd.DataFrame()

for x in range(len(cityinfo)):
    statedata_pd.loc[x, 'City'] = cityinfo[x]['name']
    statedata_pd.loc[x, 'State'] = state_data['State_full'][x]
    statedata_pd.loc[x, 'Cloudiness'] = cityinfo[x]['clouds']['all']
    statedata_pd.loc[x, 'Country'] = cityinfo[x]['sys']['country']
    statedata_pd.loc[x, 'Date'] = cityinfo[x]['dt']
    statedata_pd.loc[x, 'Humidity'] = cityinfo[x]['main']['humidity']
    statedata_pd.loc[x, 'Lat'] = cityinfo[x]['coord']['lat']
    statedata_pd.loc[x, 'Lng'] = cityinfo[x]['coord']['lon']
    statedata_pd.loc[x, 'Max Temp'] = cityinfo[x]['main']['temp_max']
    statedata_pd.loc[x, 'Wind Speed'] = cityinfo[x]['wind']['speed']

statedata_pd['Cloudiness'] = statedata_pd['Cloudiness'].astype(int)
statedata_pd['Date'] = statedata_pd['Date'].astype(int)
statedata_pd['Humidity'] = statedata_pd['Humidity'].astype(int)

statedata_pd.count()
statedata_pd.head()

,City,State,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Prattville,Alabama,1,US,1550799300,83,32.46,-86.46,75.2,3.36
1,Bethel,Alaska,1,US,1550796960,79,60.79,-161.76,30.2,11.41
2,Camp Verde,Arizona,90,US,1550800140,100,34.56,-111.85,32.0,6.93
3,Sherwood,Arkansas,90,US,1550799480,86,34.82,-92.22,42.8,10.29
4,Clovis,California,1,US,1550799300,57,36.83,-119.70,53.6,2.59

In [13]:
# Clean and denormalize State weather data
statedata_pd.reset_index(drop=False)
statedata_weather=statedata_pd[["State", "Max Temp", "Humidity", "Wind Speed"]]
statedata_weather=statedata_weather.rename(columns={"State":"State_full"})
statedata_weather.head()

   State_full  Max Temp  Humidity  Wind Speed
0     Alabama      75.2        83        3.36
1      Alaska      30.2        79       11.41
2     Arizona      32.0       100        6.93
3    Arkansas      42.8        86       10.29
4  California      53.6        57        2.59

In [14]:
# Merge State info and State weather data
merge_state_weather_table = pd.merge(state_data, statedata_weather, on="State_full")
merge_state_weather_table.head()

,State_abbr,State_lat,State_lng,State_full,Max Temp,Humidity,Wind Speed
0,AL,32.601011,-86.680736,Alabama,75.2,83,3.36
1,AK,61.302501,-158.775020,Alaska,30.2,79,11.41
2,AZ,34.168219,-111.930907,Arizona,32.0,100,6.93
3,AR,34.751928,-92.131378,Arkansas,42.8,86,10.29
4,CA,37.271875,-119.270415,California,53.6,57,2.59

In [15]:
complete_merge_table = pd.merge(US_wine_data_winery, merge_state_weather_table, on= "State_full")
complete_merge_table = complete_merge_table.drop(["State_abbr","State_lat","State_lng"], axis=1)
complete_merge_table

,winery,State_full,Average_price,Average_points,Max Temp,Humidity,Wind Speed
0,10 Knots,California,$24.750000,83.250000,53.60,57,2.59
1,100 Percent Wine,California,$18.000000,86.333333,53.60,57,2.59
2,1000 Stories,California,$19.000000,90.500000,53.60,57,2.59
3,1070 Green,California,$25.000000,88.000000,53.60,57,2.59
4,10Span,California,$12.000000,83.500000,53.60,57,2.59
5,12C Wines,California,$92.600000,92.600000,53.60,57,2.59
6,16X20,California,$40.000000,85.500000,53.60,57,2.59
7,181,California,$15.000000,84.000000,53.60,57,2.59
8,1850,California,$24.000000,89.333333,53.60,57,2.59
9,24 Knots,California,$17.000000,82.000000,53.60,57,2.59
10,29 & Oak Wines,California,$57.000000,88.800000,53.60,57,2.59
11,2Plank,California,$37.166667,88.333333,53.60,57,2.59
12,2nd Chance,California,$36.333333,89.333333,53.60,57,2.59
13,3 Badge Beverage,California,$30.000000,84.000000,53.60,57,2.59
14,3 Ball,California,$15.000000,88.000000,53.60,57,2.59
15,3 Spells,California,$26.000000,81.000000,53.60,57,2.59
16,3 Steves Winery,California,$26.800000,83.600000,53.60,57,2.59
17,31st State,California,$10.000000,83.000000,53.60,57,2.59
18,32 Winds,California,$49.000000,89.000000,53.60,57,2.59
19,337 Wine Cellars,California,$15.000000,87.000000,53.60,57,2.59
20,3CV,California,$20.000000,84.000000,53.60,57,2.59
21,401K,California,$15.000000,84.666667,53.60,57,2.59
22,50 Harvests,California,$50.000000,89.500000,53.60,57,2.59
23,6 North,California,$50.800000,88.000000,53.60,57,2.59
24,60 North,California,$10.000000,85.000000,53.60,57,2.59
25,7 Heavenly Chards,California,$17.000000,82.000000,53.60,57,2.59
26,7 Peaks,California,$11.000000,86.000000,53.60,57,2.59
27,75 Wine Co.,California,$16.000000,87.666667,53.60,57,2.59
28,786 Wines,California,$13.000000,86.000000,53.60,57,2.59
29,A By Acacia,California,$13.000000,85.000000,53.60,57,2.59
...,...,...,...,...,...,...,...
5461,Raffaldini,North Carolina,$20.909091,85.000000,44.60,100,9.17
5462,RayLen,North Carolina,$18.666667,83.666667,44.60,100,9.17
5463,Sanders Ridge,North Carolina,$18.000000,83.000000,44.60,100,9.17
5464,Shadow Springs,North Carolina,$17.000000,86.000000,44.60,100,9.17
5465,Shelton Vineyards,North Carolina,$10.000000,86.000000,44.60,100,9.17
5466,Westbend Vineyards,North Carolina,$50.000000,88.000000,44.60,100,9.17
5467,Blue Teal,New Mexico,$10.000000,85.000000,75.32,92,5.17
5468,Casa Rondeña Winery,New Mexico,$23.166667,83.666667,75.32,92,5.17
5469,D.H. Lescombes,New Mexico,$29.000000,83.750000,75.32,92,5.17
5470,Gruet,New Mexico,$33.000000,84.000000,75.32,92,5.17
5471,La Chiripada,New Mexico,$24.833333,84.833333,75.32,92,5.17
5472,St. Clair,New Mexico,$12.333333,83.000000,75.32,92,5.17
5473,Vivác Winery,New Mexico,$22.954545,83.818182,75.32,92,5.17
5474,Chaddsford,Pennsylvania,$21.250000,84.687500,42.80,45,10.29
5475,Penns Woods,Pennsylvania,$40.000000,83.500000,42.80,45,10.29
5476,Debonné,Ohio,$13.800000,84.500000,39.20,59,3.36
5477,Firelands,Ohio,$12.000000,84.000000,39.20,59,3.36
5478,Hermes,Ohio,$15.000000,80.000000,39.20,59,3.36
5479,Elk Creek Vineyards,Kentucky,$35.000000,83.000000,48.20,31,9.17
5480,Hopkins Vineyard,Connecticut,$15.333333,84.000000,44.60,60,6.93
5481,Illinois Sparkling Co.,Illinois,$32.333333,84.500000,42.80,52,8.05
5482,Jasper,Iowa,$15.500000,83.000000,19.40,85,4.70
5483,Nevada Ridge,Nevada,$25.333333,84.333333,-4.01,76,8.05
5484,Pahrump Valley Winery,Nevada,$75.000000,84.000000,-4.01,76,8.05
5485,Running Brook,Massachusetts,$15.666667,84.333333,46.40,100,6.93
5486,Still River,Massachusetts,$25.000000,89.000000,46.40,100,6.93
5487,Truro,Massachusetts,$25.666667,84.000000,46.40,100,6.93
5488,Sakonnet,Rhode Island,$25.000000,90.000000,44.60,93,6.93
5489,Snow Farm,Vermont,$31.666667,84.333333,24.80,78,14.99
5490,Ulupalakua,Hawaii,$28.000000,87.000000,78.80,61,9.17

In [16]:
complete_merge_table.describe()

       Average_points     Max Temp     Humidity   Wind Speed
count     5491.000000  5491.000000  5491.000000  5491.000000
mean        87.828566    52.418376    58.714442     3.666685
std          2.768711     4.224885     5.435400     2.379653
min         80.000000    -4.010000    31.000000     2.260000
25%         86.000000    53.600000    57.000000     2.590000
50%         87.846154    53.600000    57.000000     2.590000
75%         90.000000    53.600000    57.000000     2.590000
max         98.000000    78.800000   100.000000    14.990000

In [17]:
complete_merge_table.to_excel("wine_weather_analysis_output.xlsx")